<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Prixdog</title>
  <meta charset="utf-8">
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" rel="stylesheet">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍺</text></svg>">
</head>

<body>
  <main class="container-fluid">
    <header>
      <h1>Prixdog</h1>
      <p>Les prix sur <a href="https://brewdog.com/fr">Brewdog</a> au {{DATE}}.</p>
    </header>

    <div id="wrapper"></div>

    <footer>
      <p>Généré par <a href="https://gitlab.com/cnrdck/prixdog">Prixdog v.{{VERSION}}</a> à partir de <a href="./data.json">données brutes</a>.</p>
    </footer>
  </main>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script src="https://unpkg.com/gridjs/l10n/dist/l10n.umd.js"></script>
  <script>
    function quantity(row) {
      if (row.cells[5].data) {
        return `${row.cells[2].data} x ${row.cells[5].data} ml`
      }
      return `${row.cells[2].data} x ? ml`;
    }
    function alcohol_level(cell) {
      if (cell) {
        return `${cell} %`
      }
      return '? %'
    }

    function pricePerLitre(cell) {
      if (cell) {
        return `${cell} €`
      }
      return '? €'
    }

    new gridjs.Grid({
      columns: [
        {
          name: 'Nom',
          formatter: (_, row) => gridjs.html(`<a href="${row.cells[7].data}" target="_blank">${row.cells[0].data}</a>`)
        },
        {
          name: 'Prix',
          formatter: (cell) => `${cell} €`
        },
        {
          name: 'Quantité',
          formatter: (_, row) => quantity(row)
        },
        "Style",
        {
          name: 'Alcool',
          formatter: (cell) => alcohol_level(cell)
        },
        {
          name: 'Contenance',
          hidden: true
        },
        {
          name: 'Prix/L',
          formatter: (cell) => pricePerLitre(cell)
        },
        {
          name: 'URL',
          hidden: true
        }
      ],
      sort: true,
      search: true,
      language: gridjs.frFR,
      server: {
        url: 'data.json',
        then: data => data.map(product => [product.name, product.price, product.quantity, product.style, product.alcohol_level, product.weight, product.price_per_litre, product.url])
      }
    }).render(document.getElementById("wrapper"));
  </script>
</body>

</html>